.header-background {
  /* background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?t=st=1651987406~exp=1651988006~hmac=955c90d3181038497a65b83ddb6268bc4b4a61819b7ea2d67a8332cb54441812"); */
  background-image: url(../images/blue_background.png);
  background-size: cover;
}

.content-background {
  background-color:rgb(241, 240, 241);
}

.btn-in-header {
  background-color:rgb(233, 171, 36);
  color: aliceblue;
  margin: 20px 100px 10px 0 !important;
  white-space: nowrap;
  width: auto !important;
  border: 0;
}

.btn-in-header a {
  color: aliceblue;
  text-decoration: none;
  font-size: smaller;
  vertical-align: middle;
}

.btn-in-header a:hover {
  font-weight: bold;
  font-size: small;
  color: aliceblue;
}

#content {
  padding: 30px 80px 10px 80px;
}

h4 {
  font-size: medium !important;
  font-weight: bold !important;
}

h5 {
  font-size:small !important;
  font-weight: bold !important;
}

.card {
  margin-left: 15px !important;
  margin-right: 15px;
  box-shadow: -1px 2px rgba(128, 128, 128, 0.315), 1px 0 rgba(128, 128, 128, 0.315);
}

.card a {
  text-decoration: none;
  color: black;
}

.card a:hover {
  color: darkgray;
}

.card-group .first {
  margin-left: 0 !important;
}

.card-group .last {
  margin-right: 0;
}

.card-body h5 {
  height : 30px;
}

/* .card-body p {
  font-size: smaller;
} */

.card-text {
  font-size: small;
}

.card-text-date {
  text-align: right;
  margin-bottom: 2px;
}

.card-text-pic {
  margin-top: 20px !important;
}

.card .card-footer {
  background-color: aliceblue;
  font-size: smaller;
  font-weight: bold;
  border-top: 0;
}

.card-footer-tag {
  text-align: right;
  font-size: 15%;
}

.card-footer-content {
  text-align: left;
  padding-left: 0 !important;
  font-size: 10%;
}

.card hr {
    color:rgba(205, 92, 92, 0.473);
}

.card-footer hr {
  width: 317.328px;
  margin-left: 16px;
}

.page-bar {
  background-color:rgb(75, 147, 206) !important;
  color: aliceblue !important;
}

.page-link:hover {
  background-color: chocolate !important;
}


