.navbar {
    background-color: rgb(25, 61, 116);;
}

button.navbar-toggler {
    background-color: beige;
}

a {
    color: white !important;
    font-family:Arial, Helvetica, sans-serif;
}

/* .dropdown-menu a {
  color: rgba(13, 113, 243, 0.842) !important;
  font-weight: bold;
} */

#alertbtn {
  color: aliceblue;
}

#searchbtn {
  margin-left: -50px;
}

.justify-content-end {
  text-align: right;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
